@import "../../Common/Variables.scss";
@import "../../Common/Common.scss";
@import "../Body/Body.scss";

$slideScaleAmount: 0.25;


.editBody {

    input,
    select {
        font-family: "PT Serif";
        font-size: 18px;
        line-height: 1.3;
        font-weight: 400;
        display: block;

        &.short {
            max-width: 300px;
        }

        &.medium {
            max-width: 500px;
        }

        &.long {
            max-width: 100%;
        }

    }

    input,
    select {
        font-family: "PT Serif";
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;
        width: 100%;
        padding: 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    textarea {
        padding: 10px;
        font-family: "PT Serif";
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;
        width: 100%;
        box-sizing: border-box;

        &.short {
            height: 150px;
        }

        &.medium {
            height: 300px;
        }

        &.long {
            height: 500px;
        }
    }

    .switch {
        position: relative;
        display: block;
        width: 60px;
        height: 34px;
        margin-bottom: 30px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .2s;
        transition: .2s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
    }

    input:checked+.slider {
        background-color: $redDefault;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px $redDefault;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
}

// .clubHeading {
//     margin-top: 30px;
//     margin-bottom: 30px;

//     h1,
//     h2 {
//         margin: 0px;
//         padding: 10px 20px 10px 20px;
//         border-left: solid 13px $redDefault;
//         line-height: .8;
//     }

//     h1 {
//         display: inline-block;
//     }
// }

form.clubEdit {

    textarea.long {
        padding: 10px;
        font-family: "PT Serif";
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;
        width: 100%;
        height: 500px;
        box-sizing: border-box;
    }
}

.slideshowPreview {
    margin-bottom: 50px;
}

.slideshowSelect {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    background-color: white;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-bottom: 50px;
    padding: 15px;

    .slideContain {
        margin: 15px;
        min-width: $maxPageWidth * $slideScaleAmount;
        height: $maxPageWidth / $slideAspectRatio * $slideScaleAmount;
        overflow: hidden;
        border-radius: 10px;
    }

    .addSlide {
        min-width: $maxPageWidth * $slideScaleAmount;
        line-height: $maxPageWidth / $slideAspectRatio * $slideScaleAmount / 3;
        text-align: left;
        font-size: 22px;
        background-color: #ddd;
        font-family: "PT Serif";

        .add {
            padding-left: 60px;
            box-sizing: border-box;

            .svg-inline--fa {
                padding-right: 20px;
                font-size: 30px;
                vertical-align: text-bottom;
            }

            height: 33.33%;
            width: 100%;

            &.middle {
                border-top: 1px solid #aaa;
                border-bottom: 1px solid #aaa;
            }
        }

        .add:hover {
            background-color: #ccc;
        }
    }

    .spacer {
        min-width: 15px;
    }

}

.questionCard {
    $cardBorderWidth: 2px;
    $borderRadius: 10px;
    @include card($borderRadius, $cardBorderWidth);

    margin-bottom: 20px;
    padding: 20px;

    h3 {
        display: inline;
    }
}


.error {
    margin-top: -25px;
    margin-bottom: 25px;
}

.date-start-end {
    display: flex;
    margin-left: -25px;
    &>* {
        &>* {
            width: 100%;
        }
        margin-left:25px;
    }
}


.editorManager {
    display: flex;
    align-content: center;
    flex-direction: column;

    .addEditor {
        width: 100%;
        
        input {
            margin: 0px 30px 0px 0px;
        }

        .addForm {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;

            select {
                max-width: 150px;
                margin: 0px 30px 0px 0px;

            }
        }
        .addEditorButton {
            @include defaultButton();
        }
    }
    

    .editorCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @extend .questionCard;
    
        p {
            margin: 0px;
        }
    
        h2 {
            margin: 0px;
        }
    
        .modify {
            float: right;
            margin: 0px;
            p {
                display: inline;
            }
    
            * {
                margin-left: 10px;
            }
        }
    
        .editorInfo {
            float: left;
        }
    
    }
}

:export {
    slideScaleAmount: $slideScaleAmount;
}