@import "../../Common/Variables.scss";
@import "../../Common/Common.scss";

.sticky {
    position: relative;
    overflow: visible;
    display: inherit;
    width: 100%;
    height: 100%;
    z-index: 0;
    box-sizing: border-box;

    .sticky-label {
        margin-left: -10px;
        margin-top: -35px;
        min-width: 200px;
        height: 60px;
        background-color: $redDefault;
        box-shadow: $lightShadow;
        position: absolute;
        z-index: -1;

        padding: 6.5px;
        padding-left: 10px;
        color: white;
        font-size: 17px;
        font-weight: bold;

        // &:empty {
        //     display: none;
        // }
    }
    // & > * {
    //     @include card(40px, 4px);
    // }
    .sticky-card {
        margin-top: 60px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: $lightShadow;
        padding: 20px;
        height: 100%;
        margin-bottom: 100px;
        *:first-child {
            margin-top:0;
        }
    }
}
