{% extends 'layout.html' %}

{% block content %}
    <style>
        .asteriskField {
            display: none;
        }

        #post-title {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        #bottom-field {
            border-bottom-left-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .form-add-post {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        div {
            margin-bottom: -1px;
            border-radius: 0;

        }

        .form-add-post .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
            border-radius: 0;
        }

    </style>

    <div class="container text-center">
        <br>

        <h1 class="h3 mb-3 font-weight-normal">Create Post</h1>
        <form class="form-add-post" method="post" enctype="multipart/form-data" id="post-form"
              data-url="{{ request.build_absolute_uri|safe }}">
            {% csrf_token %}
            <div class="control-group">
                <div class="controls">

                    <input type="text" name="title" maxlength="50"
                           class="form-control textInput" placeholder="Post title" id="post-title" required>

                    <select name="subforum" class="form-control select" id="post-choice" placeholder="Forums">
                        {% for forum in forum_list %}
                            <option value="{{ forum }}">{{ forum }}</option>
                        {% endfor %}
                    </select>

                    <textarea name="text" rows="10" maxlength="20000" class="form-control textarea"
                              placeholder="Post Body" id="post-body"></textarea>

                    <input type="file" name="attached_file" class="form-control clearablefileinput"
                           label="Attach a file" id="bottom-field" id="post-file">
                </div>
            </div>

            <input type="submit" name="Post" value="Post" class="btn-lg btn-primary btn-block"
                   style="margin-top: 20px;"/>
        </form>

    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }

                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

        $(document).ready(function () {
            var $myForm = $('post-form')

            $myForm.submit(function (event) {
                event.preventDefault();
                var $formData = $(this).serialize()
                console.log('form submitted');

                $.ajax({
                    url: $myForm.attr('data-url'),
                    type: "POST",
                    data: $formData,
                    success: FormSuccess,
                    error: FormError,
                })

                function FormSuccess(data, textStatus, jqXHR) {
                    console.log(data)
                    console.log(textStatus)
                    console.log(jqXHR)
                    $myForm.reset(); // reset form data
                }

                function FormError(jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            })
        })

    </script>

{% endblock %}