{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <p>
        <center><h1>{{ subforum.name }}</h1></center>
        </p>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <form id='back' action={% url 'home' %} method="post" class="align-left">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('back').submit();"><button type="button" class="btn btn-primary float-left">Back</button></a>
                    </form>
                    <form id='refresh' action={% url 'forums' %} method="post" class="align-left">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('refresh').submit();"><button type="button" class="btn btn-secondary float-left">Refresh Posts</button></a>
                        <input type="hidden" value={{ subforum.id }} name="forumid">
                    </form>
                </div>
                <div class="col align-right">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'create_post' %}">
                            <button type="button" class="btn btn-success float-right">Create Post</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% for post in forum %}
            <div class="card">
                <div class="card-body">
                    <div class="float-left w-80">
                        <h5 class="card-title" id="post-title">
                            <a href="{% url 'post' %}?id={{ post.id }}">{{ post.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted"
                            id="post-user">{{ post.user.alias }}#{{ post.user.user_tag }}</h6>
                    </div>
                    <div class="float-right align-middle">
                        <form action="#">
                            <label for="uv">{{ post.up_votes }}</label>
                            <input type="submit" id="uv" value="Upvote">
                        </form>
                        <form action="#">
                            <label for="dv">{{ post.down_votes }}</label>
                            <input type="submit" id="dv" value="Downvote">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}