{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <br>
    <div class="container">
        {% for forum in forum_list %}
            <div class="card">
                <div class="card-body">
                    <div class="float-left w-80">
                        <h5 class="card-title" id="post-title">
                            <a href="{% url 'forumsapp:assignments' forum_name=forum.url_name %}">{{ forum.name }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted" id="post-user">{{ forum.description }}</h6>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock content %}