{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <p><center><h1>View Post</h1></center></p>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <form id='back' action={% url 'forums' %} method="post" class="align-left">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('back').submit();"><button type="button" class="btn btn-primary float-left">Back</button></a>
                        <input type="hidden" name="forumid" value={{ post.sub_forum.id }}>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    <h5 class="card-title" id="post-title">
                        {{ post.title }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted" id="post-user">{{ post.user.alias }}#{{ post.user.user_tag }}</h6>
                </div>
                <div class="float-right align-middle">
                    <form action="#">
                        <label for="uv">{{ post.up_votes }}</label>
                        <input type="submit" id="uv" value="Upvote">
                    </form>
                    <form action="#">
                        <label for="dv">{{ post.down_votes }}</label>
                        <input type="submit" id="dv" value="Downvote">
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    {{ post.text }}
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    <h5 class="card-title">
                        Comments ({{ comments.count }})
                    </h5>
                    <input type="text">
                    <br>
                    {% for comment in comments %}
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left w-80">
                                    <h5 class="card-title" id="post-title">
                                        {{ comment.text }}
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted" id="post-user">{{ comment.user.alias }}#{{ comment.user.user_tag }}</h6>
                                </div>
                                <div class="float-right align-middle">
                                    <form action="#">
                                        <label for="uv">{{ post.up_votes }}</label>
                                        <input type="submit" id="uv" value="Upvote">
                                    </form>
                                    <form action="#">
                                        <label for="dv">{{ post.down_votes }}</label>
                                        <input type="submit" id="dv" value="Downvote">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!--<script>
        var jsonURL = "{% static 'test_posts.json' %}";
    </script>-->
    <script src="{% static 'home.js' %}"></script>

{% endblock content %}