{% extends 'layout.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <p>
        <center><h1>View Post</h1></center>
        </p>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col">
                    <form id='back' action={% url 'forums' %} method="post" class="align-left">
                        {% csrf_token %}
                        <a href="javascript:{}" onclick="document.getElementById('back').submit();">
                            <button type="button" class="btn btn-primary float-left">Back</button>
                        </a>
                        <input type="hidden" name="forumid" value={{ post.sub_forum.id }}>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    <h5 class="card-title" id="post-title">
                        {{ post.title }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted"
                        id="post-user">{{ post.user.alias }}#{{ post.user.user_tag }}</h6>
                </div>
                <div class="float-right align-middle">
                    <form action="{% url 'post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ post.id }}" name="uv-post">
                        <input type="submit" value="Upvote ({{ post.up_votes }})" class="btn btn-success">
                    </form>
                    <form action="{% url 'post' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ post.id }}" name="dv-post">
                        <input type="submit" value="Downvote ({{ post.down_votes }})" class="btn btn-danger">
                    </form>
                    <form action="{% url 'post' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-warning" id="report-post" value="Report">
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    {{ post.text }}
                </div>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="float-left w-80">
                    <h5 class="card-title">
                        Comments ({{ comments.count }})
                    </h5>
                    <form action="{% url 'post' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="message">
                        <input type="hidden" value="{{ post.id }}" name="post">
                        <input type="submit" class="btn btn-info">
                        <br>
                    </form>
                    {% for comment in comments %}
                        <div class="card">
                            <div class="card-body">
                                <div class="float-left w-80">
                                    <h5 class="card-title" id="post-title">
                                        {{ comment.text }}
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted"
                                        id="post-user">{{ comment.user.alias }}#{{ comment.user.user_tag }}</h6>
                                </div>
                                <div class="float-right align-middle">
                                    <form action="{% url 'post' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ post.id }}" name="post">
                                        <input type="hidden" value="{{ comment.id }}" name="uv-comment">
                                        <input type="submit" value="Upvote ({{ comment.up_votes }})" class="btn btn-success">
                                    </form>
                                    <form action="{% url 'post' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ post.id }}" name="post">
                                        <input type="hidden" value="{{ post.id }}" name="dv-comment">
                                        <input type="submit" value="Downvote ({{ comment.down_votes }})" class="btn btn-danger">
                                    </form>
                                    <form action="{% url 'post' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" value="{{ post.id }}" name="post">
                                        <input type="hidden" value="{{ comment.id }}" name="report-comment">
                                        <input type="submit" value="Report" class="btn btn-warning" >
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!--<script>
        var jsonURL = "{% static 'test_posts.json' %}";
    </script>-->
    <script src="{% static 'home.js' %}"></script>

{% endblock content %}