@import "../../Common/Variables.scss";
@import "../../Common/Common.scss";

.RichEditor-root {
  background: #fff;
  border: 1PX solid rgb(118, 118, 118);
  font-family: 'Raleway', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;

  .public-DraftEditorPlaceholder-root,
  .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
  }

  .public-DraftEditor-content {
    min-height: 400px;
  }

  .RichEditor-blockquote {
    border-left: 5px solid #eee;
    color: #666;
    font-style: italic;
    margin: 16px 0;
    padding: 10px 20px;
  }

  .public-DraftStyleDefault-pre {
    background-color: rgba(0, 0, 0, 0.05);
    font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
    font-size: 16px;
    padding: 20px;

  }

  div>div>span>span{
    font-family: "PT Serif";
    font-size: 18px;
  }

  h1 {
    margin-top: 30px;
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 12px;
  }

  p {
    margin-top: 5px;
  }


}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-controls {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  display: inline-block;

  &.RichEditor-blockControls {
    border-left: 1px solid #bbb;
    margin-left: -2px;
    padding-left: 12px;
  }
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}