{% extends 'XRoads/templates/default-layout.html' %}
{% load static %}

{% block content %}
    <body class="body">
    {% if query %}
        {% for result in page.object_list %}
            <div class="post-block w-clearfix">
                <div class="post-left-buttons w-clearfix">
                    <a href="#" class="user-profile-class w-button"></a>
                    <div class="voting-div">
                        <a href="#" class="upvote-class w-button"></a>
                        <a href="#" class="downvote-class w-button"></a>
                    </div>
                </div>
                <a href="#" class="post-link w-inline-block">
                    <h3 class="post-title">{{ result.title }}</h3>
                    <p class="post-body">{{ result.body }}</p>
                </a>
                <div class="post-right-buttons">
                    <a href="#" class="bookmark-class w-button"></a>
                    <a href="#" class="options-class w-button"></a>
                </div>
            </div>
        {% empty %}
            <h5 class="feedback-link-text">No results were found :(</h5>
        {% endfor %}

    {% endif %}

    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/webflow.js' %}" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif] -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static 'javascript/post.js' %}" type="text/javascript"></script>
    <script src="{% static 'javascript/default.js' %}" type="text/javascript"></script>
    </body>
{% endblock %}