{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <body>

    <div class="container">
        <p><center><h1>My Account</h1></center></p>
        <br>
        <form action="{% url 'chgpass' %}" method="post">
            {% csrf_token %}
            <label for="cpass">Current Password</label>
            <input type="password" name="cpass" id="cpass">
            <label for="npass">New Password</label>
            <input type="password" name="npass" id="npass">
            <label for="cnpass">Confirm New Password</label>
            <input type="password" name="cnpass" id="cnpass">
            <input type="submit" class="btn btn-info" value="Change Password">
        </form>
        <br>
        <form action="{% url 'chgusername' %}" method="post">
            {% csrf_token %}
            @<input type="text" name="username" id="username" value="{{ request.user.alias }}"><b>#{{ request.user.user_tag }}</b>
            <input type="submit" class="btn btn-info" value="Change Username">
        </form>
        {% if request.user.is_superuser %}
            <form action="{% url 'chgtag' %}" method="post">
                {% csrf_token %}
                <b>@{{ request.user.alias }}#</b><input type="text" name="tag" id="tag" value="{{ request.user.user_tag }}">
                <input type="submit" class="btn btn-info" value="Change Tag">
            </form>
        {% endif %}
    </div>

{% endblock content %}