{% extends 'blank-layout.html' %}
{% load static %}
{% block content %}
    <body class="body-2">
    <div class="div-block-4">
        <a id="w-node-a70958d43727-58d43726" href="{% url 'forumsapp:home' %}" class="link-block w-inline-block">
            <h1 class="faded-website-heading">xroads</h1>
        </a>
    </div>
    <div class="user-form w-form">
        <form action="{% url 'login' %}" id="email-form" name="email-form" data-name="Email Form" method="POST">
            {% csrf_token %}
            <input type="text" class="top-field w-input" maxlength="256" name="email" data-name="form-email"
                   placeholder="Email Address" id="form-email" required="">
            <input type="password" class="bottom-field w-input" maxlength="256" name="password"
                   data-name="form-password" placeholder="Password" id="form-password" required="">
            <input type="submit" name="Submit" value="login" class="signup-btn w-button"/>
        </form>
        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="{% static 'javascript/webflow.js' %}" type="text/javascript"></script>
    </div>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif] -->
    </body>
{% endblock content %}
