{% extends 'blank-layout.html' %}
{% load static %}
{% block content %}
    <body class="body-3">
    <div class="div-block-4">
        <a id="w-node-a70958d43727-58d43726" href="{% url 'forumsapp:home' %}" class="link-block w-inline-block">
            <h1 class="faded-website-heading">xroads</h1>
        </a>
    </div>
    <div class="user-form w-form">
        <form action="{% url 'signup' %}" id="email-form" name="email-form" data-name="Email Form" method="post">
            {% csrf_token %}
            <input type="text" class="top-field w-input" maxlength="256" name="email" data-name="Form Email"
                   placeholder="Email Address" id="form-email" required="">
            <input type="text" class="middle-field username w-input" maxlength="256" name="alias"
                   data-name="Form Password 2" placeholder="Username" id="form-password-2" required="">
            <input type="password" class="middle-field password w-input" maxlength="256" name="password"
                   data-name="Form Password" placeholder="Password" id="form-password" required="">
            <input type="password" class="bottom-field confirm-pass w-input" maxlength="256" name="confirm_pass"
                   data-name="Form Email 2" placeholder="Confirm Password" id="form-email-2" required="">
            <input type="submit" name="Submit" value="sign up" class="signup-btn w-button"/>
        </form>

    </div>
    <a href="{% url 'login' %}" class="feedback-link w-inline-block">
        <h5 class="feedback-link-text">Already have an account?</h5>
    </a>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="{% static 'javascript/webflow.js' %}" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
    <![endif] -->
    </body>
{% endblock content %}
