@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Rubik:wght@700;900&display=swap");

$redDefault: #c32032;
$redHover: #b92133;
$navbarColor: white;
$greyBackground: aliceblue;

$greyOutline: #FF9260;
$thinOutline: solid $greyOutline 3px;
$lightShadow: 0 4px 8px rgba(0,0,0,0.07), 0 4px 8px rgba(0,0,0,0.10);
$darkShadow: 0 6px 10px rgba(0,0,0,0.12), 0 6px 10px rgba(0,0,0,0.18);

$cardRoundBig: 20px;
$cardRoundSmall: 10px;

$navbarHeight: 70px;
$siteMargins: 7%;

$maxPageWidth:1000px;

$slideAspectRatio: 16/9;

:export {
    redDefault: $redDefault;
    redHover: $redHover;
    greyOutline: $greyOutline;
    cardRoundBig: $cardRoundBig;
    cardRoundSmall: $cardRoundSmall;
    navbarHeight: $navbarHeight;
    siteMargins: $siteMargins;
    maxPageWidth: $maxPageWidth;
    slideAspectRatio: $slideAspectRatio;
  }