@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Rubik:wght@700;900&display=swap");

$redDefault: #c32032;
$redHover: #b92133;
$greyBackground: #F5FAFC;

$greyOutline: rgb(211, 211, 211);
$thinOutline: solid $greyOutline 2px;
$lightShadow: 6px 6px 18px -19px #000;

$cardRoundBig: 20px;
$cardRoundSmall: 10px;

$navbarHeight: 70px;
$siteMargins: 7%;

$maxPageWidth:1000px;

$slideAspectRatio: 16/9;

:export {
    redDefault: $redDefault;
    redHover: $redHover;
    greyOutline: $greyOutline;
    cardRoundBig: $cardRoundBig;
    cardRoundSmall: $cardRoundSmall;
    navbarHeight: $navbarHeight;
    siteMargins: $siteMargins;
    maxPageWidth: $maxPageWidth;
    slideAspectRatio: $slideAspectRatio;
  }