@import "variables";
@import "commonComponents";



.accountLayout {
  @extend .flex-container;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.accountForm {
  @include card(10px, 5px);
  @extend .flex-container;
  flex-direction: column;
  justify-content: center;

  width: 350px;
  height: auto;
  padding: 30px;

  input {
    height: 50px;
    margin-bottom: 0px;
    border-style: solid solid none;


    font-family: Raleway, sans-serif;

    margin: 0px 20px 0px 20px;
    background-color: transparent;
  }

  input:focus {
    outline: auto $redDefault;
  }
}

.first-field {
    border-radius: $authFormBorderRadius $authFormBorderRadius 0px 0px;
}

.last-field {
    border-radius: 0px 0px $authFormBorderRadius $authFormBorderRadius;
    margin: 30px 30px 30px 30px;
}

.middle-field {
}

.accountSubmit {
    border-style: solid;
}
