@import "variables";
@import "commonComponents";



.accountLayout {
  @extend .flex-container;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.accountForm {
  @include card(10px, 5px);
  @extend .flex-center-col;

  padding: 40px;

  .fields {
    @extend .flex-center-col;
    
    input {
      box-sizing: border-box;
      padding: 25px 15px 25px 15px;

      border-color: $greyOutline;
      border-width: 3px;
      border-style: solid solid none;

      background-color: transparent;

      font-family: Raleway, sans-serif;
      font-size: 16px;
    }
  }

  input {
    min-width: 250px;
    width: 275px;
    height: 50px;
  }

  input:focus {
    outline: none;
  }
}

.first-field {
  border-radius: $authFormBorderRadius $authFormBorderRadius 0px 0px;
}

.last-field {
  border-style: solid solid solid solid !important;
  border-radius: 0px 0px $authFormBorderRadius $authFormBorderRadius;
  margin-bottom: 30px;
}

.middle-field {
}

#account-submit {
  background-color: $redDefault;
  border-style: none;
  border-radius: 5px;
}

