@import "variables";
@import "commonComponents";

.clubDetails {
    padding: 40px 20px;
    max-width:$maxPageWidth;
    margin:auto;
}

.clubHeading {
    border-left: solid 13px $redDefault;
    padding:10px 20px 1px 20px;
}

.clubHeading t {
    font-family: Rubik;
    font-size: 60px;
    line-height: .8;
}

.clubHeading h1 {
    font-family: Raleway;
    font-size: 20px;
    line-height: .9;
    margin-top:20px;
}

.details {
    padding:30px 0;
    font-family: "Raleway";
    font-size:20px;
}