@import "variables";

.card{
    height: 300px;
    border-radius: 15px;
    margin:20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.20);
    width: calc(100% - 40px);
    background-image: url("https://unsplash.it/800/600?image=59");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.10), 0 2px 2px rgba(0,0,0,0.20);
}

.card-container{
    margin:-20px;
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(400px, 1fr));
}

.info{
    background-color:white;
    position: absolute;
    bottom:0px;
    width: calc(100% - 40px);
    height:70px;
    padding-left:20px;
    padding-right:20px;
    transition:0.4s;
    overflow: hidden;
}

.info:hover{
    height: 100%;
}

.info h1{
    margin-top: 18px;
    font-size:30px;
    font-family: Rubik;
    display: inline-block;
    margin-bottom:0px;
}

.bubble {
    background-color: $redDefault;
    border-radius: 30px;
    float:left;
    direction: rtl;
    min-width:1.1em;
    height:1.1em;
    padding:5px;
    text-align: center;
    color:white;
    font-family: Rubik;
    margin-right: 5px;
    margin-top:20px;
}

.bubble-container{
    float:right;
}