@import "variables";
@import "commonComponents";

.clubDetails {
    padding: 40px 20px;
    max-width:$maxPageWidth;
    margin:auto;
}


.clubHeading {
    border-left: solid 13px $redDefault;
    padding:10px 20px 1px 20px;
}

.clubHeading t {
    font-family: Rubik;
    font-size: 60px;
    line-height: .8;
}

.clubHeading h1 {
    font-family: Raleway;
    font-size: 20px;
    line-height: .9;
    margin-top:20px;
}

.details {
    padding:30px 0;
    font-family: "Raleway";
    font-size:20px;
}

.slideshow {
    max-height: $maxPageWidth/$slideAspectRatio;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.slide {
    width:100%;
    max-width: $maxPageWidth;
    height:$maxPageWidth/$slideAspectRatio;
}

.slide-content {
    width:$maxPageWidth;
    height:$maxPageWidth/$slideAspectRatio;
    transform-origin: top left;
    position: relative;
}


.text-slide .slide-content {
    display: flex;
}

.text-slide .text-area {
    margin:auto;
    padding:50px;
    text-align: center;
}

.text-slide {
    background-color: #eee;
}

.text-slide h1 {
    font-family: Rubik;
    font-size: 60px;
    margin-top:0;
    margin-bottom:0;
}

.text-slide h2 {
    font-family: Rubik;
    font-size: 30px;
    margin-top:0;
    margin-bottom:0;
}

.text-slide p {
    font-family: Raleway;
    font-size: 30px;
    text-align:left;
    line-height: 1.3;
}

.text-slide .body {
    text-align:right;
    font-family: Raleway;
    font-size: 40px;
}






.image-slide {
}

.image-slide p {
    margin:0;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px;
    background-color:#000111aa;
    font-family: Raleway;
    font-size: 20px;
    color:white;
}

.image-slide c:empty {
    display:none;
}

.image-slide img {
    width: 100%;
}

.BrainhubCarousel__arrows {
    position: absolute !important;
    background-color: $redDefault !important;
    border-radius: 5px;
    padding-top:50px !important;
    z-index:10;
}

.BrainhubCarousel__arrowRight {
    right:30px;
}
.BrainhubCarousel__arrowLeft {
    left:30px;
}

@media only screen and (max-width: 600px) {
    .BrainhubCarousel__arrows {
        display:none;
    }
}