@import "variables";
@import "commonComponents";

/*Text Slide*/
.text-slide .slide-content {
    display: flex;
}

.text-slide .text-area {
    margin:auto;
    padding:50px;
    text-align: center;
}

.text-slide {
    background-color: #fff;
}

.text-slide p {
    font-size: 30px;
    text-align:left;
}

/*Image Slide*/
.image-slide p{
    margin:0;
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px;
    background-color:#000111cc;
    font-size: 20px;
    color:white;
    z-index: 10;
}

.image-slide c:empty {
    display:none;
}

.image-slide img {
    width: 100%;
}

/*Video Slide*/
.video-slide iframe {
    margin-bottom:-5px;
}


.video-slide p{
    margin:0;
    width:calc(100% - 40px);
    padding:20px;
    background-color:black;
    font-size: 20px;
    color:white;
}


/*Slideshow*/
.slideshow {
    max-height: $maxPageWidth/$slideAspectRatio;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: $lightShadow;
    position: relative;
}

.haze {
    position: absolute;
    top:0;
    width:calc((100vw - 1000px) / 2);
    height: 100%;
    z-index: 9;
}

$hazeGradient: rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%;
.left-haze {
    left:0;
    background: linear-gradient(90deg, $hazeGradient);
}

.right-haze {
    right:0;
    background: linear-gradient(270deg, $hazeGradient);
}

.slide {
    width:100%;
    max-width: $maxPageWidth;
    height:$maxPageWidth/$slideAspectRatio;
}

.slide-content {
    width:$maxPageWidth;
    height:$maxPageWidth/$slideAspectRatio;
    transform-origin: top left;
    position: relative;
    overflow: hidden;
}

.BrainhubCarousel__container, .BrainhubCarousel, .BrainhubCarousel__trackContainer{
    max-height: $maxPageWidth/$slideAspectRatio;
    height:inherit;
}

.BrainhubCarousel__arrows {
    position: absolute !important;
    background-color: $redDefault !important;
    border-radius: 5px;
    padding-left:12px !important;
    padding-top:35px !important;
    z-index:10;
    transition:0.2s;
}

.BrainhubCarousel__arrowRight {
    right:20px;
}
.BrainhubCarousel__arrowLeft {
    left:20px;
}

@media (max-width: 1000px) {
    .BrainhubCarousel__arrows {
        opacity: 0.5;
    }
}
