@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;900&family=Rubik:wght@700;900&display=swap");

$redDefault: #c32032;
$redHover: #b92133;
$greyOutline: #e4e2e2ff;

$cardRoundBig: 20px;
$cardRoundSmall: 10px;

$navbarHeight: 70px;
$siteMargins: 7%;

$maxPageWidth:1000px;

:export {
    redDefault: $redDefault;
    redHover: $redHover;
    greyOutline: $greyOutline;
    cardRoundBig: $cardRoundBig;
    cardRoundSmall: $cardRoundSmall;
    navbarHeight: $navbarHeight;
    siteMargins: $siteMargins;
    maxPageWidth: $maxPageWidth;
  }